# Visual Studio
.vs/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Debug / Release
Debug/
Release/
x64/
x86/

# Logs
*.log

# Packages (لو مش عايز ترفعها)
packages/

# Publish
publish/

# Database (لو LocalDB)
*.mdf
*.ldf

# App config secrets
appsettings.json
